* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* fonts and colors */

.title {
    font-size: 34px;
    font-weight: 600;
}

.regular {
    font-size: 22px;
}

.muted {
    color: gray;
}

.white {
    color: white;
}

/* burger menu */
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top:20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
/* wrapper */

.wrapper {
    display: flex;
}

/* sidebar */

.sidebar {
    position: fixed;
    width: 20vw;
    height: 100vh;
    /* background-color: #eaeaea; */
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

.sidebar-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sidebar-nav-item {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: .5s;
}

.nav-link{
    padding-left: 20px;
    text-align: left;
    width: 85%;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition-duration: 1s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:hover {
    color: white;
    background-color: #c32055;
}

.active {
    background-color: #c32055;
    color: white;
}

.dashboard-icon {
    font-size: 20px;
}

/* main content */

.main-content {
    margin-left: 20vw;
    position: static;
    width: 80vw;
    /* background-color: #eaeaea; */
    overflow: hidden;
}

.main-content-title {
    padding-left: 50px;
    padding-top: 30px;
}

/* type cards */

.first-type-card {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
  background-color: #f6f6f6;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 58%);
  border: 1px solid black;
}

.first-type-card-row1 {
    width: 90%;
    height: 80px;
    background-color: #c32055;
    margin-top: -30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid gray;
  outline: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  color: gray;
}

.first-type-card-row2 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-type-card-row3 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-type-card-row3 input {
  width: 300px;
}

.first-type-card-row4 {
  width: 90%;
  
}

.first-type-card-row5 {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-type-card-row6 {
  width: 90%;
}

.first-type-card-row7 {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.uptade-btn {
  width: 180px;
  height: 40px;
  background-color: #c32055;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: .5s;
}

.uptade-btn a {
  color: white;
  text-decoration: none;
}

.uptade-btn:hover {
  filter: brightness(170%);
}